body  {
    margin: 0;
    padding: 0;
}

* {
    font-family: 'SF Pro Rounded','Inter', sans-serif;
    color: #FFFFFF;
    background-color: #111827;
}

.button--view {
        margin: .3rem;
        display: inline-block;
        outline: 0;
        border: 2px solid white;
        cursor: pointer;
        background-color: lightblue;
        border-radius: 20px;
        padding: 4px 8px;
        font-size: 16px;
        font-weight: 700;
        color: white;
        line-height: 26px;
}

.sidebar-button {
    transition: transform 2s ease-in-out .5s;
}

.sidebar-button-clicked {
    transform: rotate(450deg);
    transition: transform 2s ease-in-out .5s;
}

.market-stats {
    background-image: url('./bg.jpg');
    background-clip: text;
    background-repeat: repeat-x;
    background-size: 50% 100%;
    color: transparent;
    animation: scroll 30s infinite linear;
}

@keyframes scroll {
    from {background-position-x: 0;}
    to {background-position-x: -100%;}
}